backend/restservices/.env
# Backend
backend/target/

# Frontend
frontend/node_modules/
frontend/dist/

# Secrets
.env*
application-local.yml

# IDE
.idea/
*.log
/backend/restservices/.ollamassist
/frontend/crypto_front/.ollamassist
/frontend/crypto_front/.ollamassist
